{% extends 'equipments/equipment_detail.html' %} 
{% load django_tables2 %} 
{%block extra_content %}
{% load custom_tags %} 

  <h3>Компоненты компьютера: {{ computer.name }}</h3>
  <div class="row">
    {% for table in tables %}
    <h5>{{table.Meta.verbose_name}} 
     
      <a class="btn btn-primary" href="{% url 'equipments:add_component_in_computer' pk=object.pk component=table.Meta.model_name%}" >Добавить</a>
      
    </h5>

    <div class="col-lg-12">
      {% render_table table %}</div>
    {% endfor %}
  </div>
</div>
{% endblock extra_content %}
