{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Equipment Catalog</h1>

        <div class="row mt-3">
            <div class="col">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Manufacturer</th>
                            <th>Model</th>
                            <th>Serial Number</th>
                            <th>Cost</th>
                            <th>Purchase Date</th>
                            <th>Status</th>
                            <th>Components</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for equipment in equipment_list %}
                        <tr>
                            <td>{{ equipment.id }}</td>
                            <td>{{ equipment.category.name }}</td>
                            <td>{{ equipment.manufacturer.name }}</td>
                            <td>{{ equipment.model }}</td>
                            <td>{{ equipment.serial_number }}</td>
                            <td>{{ equipment.cost }}</td>
                            <td>{{ equipment.purchase_date }}</td>
                            <td>{{ equipment.status.name }}</td>
                            <td><a href="{% url 'catalogs:equipment_components' equipment.id %}">View Components</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
