{% extends "base.html" %} {% block content %}

<h1>{{ object.name }}</h1>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Поле</th>
        <th>Значение</th>
      </tr>
    </thead>
    <tbody>
      {% for field_name, field_value in fields_data %}
      <tr>
        <td>{{ field_name }}</td>
        {% if field_value is None %}
            <td>-</td>
        {% else %}
            <td>{{ field_value }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
