{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="mt-5">Equipment Components</h1>

        <div class="row mt-3">
            <div class="col">
                <h2>{{ equipment.model }} Components</h2>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Manufacturer</th>
                            <!-- Добавьте другие необходимые поля для компонентов -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for component in components %}
                        <tr>
                            <td>{{ component.id }}</td>
                            <td>{{ component.name }}</td>
                            <td>{{ component.manufacturer.name }}</td>
                            <!-- Добавьте другие необходимые поля для компонентов -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock content%}